body{
overflow: hidden;
}

section>img{
    width: 120%;
    object-fit: cover;
    height: 47em;
    animation: my-animation2 5s linear infinite ;
}

@keyframes my-animation1 {
    100%{
        transform: translate(-3400px);
    }
}

@keyframes my-animation2 {
    100%{
        transform: translate(-110px);
    }
}


#sec2{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 2px;
    top: 20em;
}

.img{
    width: 16em;
    height: 17em;

}

.h2{
    margin: 0 50px;
    font-size: 2.5em;
    font-weight: bold;
}

#button{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40em;
    right: 0;
    left: 0;
    margin: 0 50px;
}
#button>button{
    width: 8em;
    height: 2.5em;
    border-radius:5px;
    font-weight: 600;
    background-color: black;
    color: white;
    font-size: 1em;
    margin: 1em;
}