
body{
    background-color: #0e3246;
}

section{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

}

div{
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: red;
    display: flex;
    margin: 0 40px;
    border-radius: 10px;

}

#div1{
    background-color: yellow;
    margin-bottom: 12em;
}

#div2{
    background-color: yellow;
    margin-top: 12em;
}

#randomColor{
    width: 8em;
    height: 2.5em;
    border-radius:5px;
    position: absolute;
    top: 40em;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    font-weight: 600;
    background-color: black;
    color: white;
    font-size: 1em;



}